i{
    list-style: none;
}

.card-text{
    color: gray;
}

.card-title {
    color: blue
}

#author {
    color: black
}

.card {
    margin-bottom: 20px;
}

#fav:hover {
    background-color: crimson
}