<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <br>
        <img class="d-block w-100" src="./assets/logo.png" alt="First slide" height="100px" Width="100px">
        <br>
      </div>
    </div>
  </div>
  
<div class="container">
  <br>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#globalfeed"> Global Feed</a>
    </li>
    <li *ngIf="(isLoggedIn | async)" class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#yourfeed">Your Feed</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="globalfeed" class="tab-pane active"><br>
      <app-globalfeed></app-globalfeed>
    </div>
    <div id="yourfeed" class="tab-pane "><br>
     <app-yoursfeed></app-yoursfeed>
    </div>
  </div>
</div>

